################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestResults/6333ce81-2b3a-4984-a068-2fad87684013
